.Container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.Box {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
