.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 250px;
  background: #fff;
  margin: 10px 10px;
  border: 1px solid #ddd;
}

.cardHeader {
  padding: 10px 0;
  background: #fff;
}

.cardBody {
  padding: 10px 0;
}

.cardBody label {
  font: 14px Arial;
  display: block;
}

.cardBody span {
  font: 16px Arial;
  font-weight: bold;
  padding-left: 5px;
}

.card img {
  width: 100%;
}
